<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center"> Calculadora </ion-title>
    <ion-buttons slot="end">
      <ion-button
        size="small"
        shape="round"
        color="medium"
        (click)="logout()"
      >
        <ion-icon name="log-out"></ion-icon>
        <ion-badge color="dark" slot="end"></ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content> 

<ion-grid>
  <ion-row>
    <ion-col size="12" color="primary">
      <ion-label class="display">
        {{ display | number : '.0-8'}}
      </ion-label>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="3">
      <ion-button
        (click)="reset()"
        size="large"
        expand="full">
        AC
      </ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button
        (click)="resetNumber()"
        size="large"
        expand="full">
        C
      </ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button
        size="large"
        expand="full">
        %
      </ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button
        (click)="Operator('/')"
        size="large"
        expand="full">
        /
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="3">
      <ion-button
        (click)="Number(7)"
        size="large"
        expand="full">7</ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button
        (click)="Number(8)"
        size="large"
        expand="full">
        8
      </ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button
        (click)="Number(9)"
        size="large"
        expand="full">
        9
      </ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button
        (click)="Operator('*')"
        size="large"
        expand="full">
        <ion-icon size="large" name="close"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="3">
      <ion-button
        (click)="Number(4)"
        size="large"
        expand="full">
        4
      </ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button
        (click)="Number(5)"
        size="large"
        expand="full">
        5
      </ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button
        (click)="Number(6)"
        size="large"
        expand="full">
        6
      </ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button
        (click)="Operator('-')"
        size="large"
        expand="full">
        <ion-icon size="large" name="remove"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="3">
      <ion-button
        (click)="Number(1)"
        size="large"
        expand="full">
        1
      </ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button
        (click)="Number(2)"
        size="large"
        expand="full">
        2
      </ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button
        (click)="Number(3)"
        size="large"
        expand="full">
        3
      </ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button
        (click)="Operator('+')"
        size="large"
        expand="full">
        <ion-icon size="large" name="add"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col size="3">
      <ion-button
        (click)="changeSign('+/-')"
        size="large"
        expand="full"
        >
        +/-
      </ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button
        (click)="Number(0)"
        size="large"
        expand="full">
        0
      </ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button
        (click)="setDecimal()"
        size="large"
        expand="full">
        .
      </ion-button>
    </ion-col>
    <ion-col size="3">
      <ion-button
        (click)="calculate()"
        size="large"
        expand="full">
        =
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
