:host {
    ion-content {
        --background: none;
        background-image: url('/assets/img/fondo.png');
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }
    ion-card {
        &.no-radius {
            border-radius: 0;
        }
    }
}

ion-grid {
    width: 100%;
    height: 100%;
    padding-top: 2em !important;
}

ion-button {
    font-size: 1.6em;
    width: 90% !important;
}

@font-face {
    font-family: "deseg7";
    src: url("../../assets/fonts/DSEG7Classic-Bold.woff") format('woff');
}

.display {
    font-size: 2.8em;
    text-align: right;
    color: white;
    font-family: "deseg7";
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.home {
    font-family: arial;
    font-weight: bold;
    .card-md ion-card-content {
        padding: 5px;
    }
    .home-banners {
        ion-slides {
            height: 80px;
            margin-bottom: 0px;
        }
        img {
            min-height: 100px;
        }
    }
    .main-categories {
        ion-card-content {
            padding: 0px;
            background-color: #efeff5;
        }
        ion-label {
            margin-left: 5px;
            font-size: 10px;
            background-color: #efeff5;
        }
        ion-card {
            margin: 0px;
            margin-bottom: 10px;
            margin-top: 25px;
            width: 70%;
            background-color: #efeff5;
        }
        .row.unlimited-items {
            flex-wrap: wrap;
            padding-left: 50px;
        }
        .row.unlimited-items .col {
            flex: none;
            width: 50%;
            padding: 5px 5px 0 0;
        }
        @media (min-width: 481px) and (max-width: 768px) {
            .row.unlimited-items .col {
                width: 33.333%;
            }
            ion-col:nth-child(3n+0) {
                border-right: none;
            }
        }
        @media (min-width: 769px) and (max-width: 1024px) {
            .row.unlimited-items .col {
                width: 25%;
            }
            ion-col:nth-child(4n+0) {
                border-right: none;
            }
        }
        @media (min-width: 1025px) {
            .row.unlimited-items .col {
                width: 20%;
            }
            ion-col:nth-child(5n+0) {
                border-right: none;
            }
        }
        img {
            min-height: 110px;
        }
    }
    .scroll-content {
        padding-bottom: 10px;
    }
    .shop-name {
        margin: 0;
        .item {
            background-color: #efeff5;
        }
    }
}