<ion-content padding class="login auth-page">
  <div class="auth-content">
    <div align="center" padding-horizontal>
      <div class="logo"></div>

      <ion-text color="light" style="font-weight: bold">
        Bienvenido(a)
      </ion-text>
      <br />
      <br />
      <ion-text color="light">
        Programación 5
        <br />
        <br />
        "Calculadora"
        <br />
        <br />
        Integrantes:
        <br />
        Erick Muñoz Araya.
        <br />
        Juan Pablo Soto Villegas.
      </ion-text>
    </div>

    <ion-grid class="btn-group">
      <ion-row>
        <ion-col size="12">
          <div class="ion-padding" *ngIf="isLoggedIn === true">
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>Hola, {{users.name}}</ion-card-subtitle>
                <ion-card-title>{{users.email}}</ion-card-title>
              </ion-card-header>
              <img
                src="{{users.picture.data.url}}"
                width="100"
                alt="{{users.name}}"
              />
            </ion-card>
          </div>
          <br />
          <br />
          <ion-button
            (click)="principal()"
            shape="round"
            expand="full"
            color="primary"
          >
            <ion-icon slot="icon-only" name="clipboard"></ion-icon>
            &nbsp; Ingresar
          </ion-button>
          <br />
          <br />
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
